1. Write a Python program to find the number of times 4 appears in the tuple. 
Input: tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 )

In [143]:
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)

count_4 = tuplex.count(4)
print("Number of times 4 appears:", count_4)

Number of times 4 appears: 3

2. Write a Python program to convert a list to a tuple. 
Input: listx = [5, 10, 7, 4, 15, 3]

In [145]:
listx = [5, 10, 7, 4, 15, 3]

tuplex = tuple(listx)
print("Converted Tuple:", tuplex)

Converted Tuple: (5, 10, 7, 4, 15, 3)

3. Write a Python program to calculate the sum of the numbers in a given tuple. 
Input: tuples_list = [(1, 2), (3, 4), (5, 6)]

In [147]:
tuples_list = [(1, 2), (3, 4), (5, 6)]

sum_total = sum(sum(tup) for tup in tuples_list)
print("Sum of all numbers in the tuple list:", sum_total)

Sum of all numbers in the tuple list: 21

4.Write a python program and iterate the given tuples 
Input: employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000) 
employee3 = ("Bob Johnson", 103, "Engineering", 75000)

In [149]:
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)

employees = [employee1, employee2, employee3]

for emp in employees:
    print(f"Name: {emp[0]}, ID: {emp[1]}, Department: {emp[2]}, Salary: {emp[3]}")

Name: John Doe, ID: 101, Department: Human Resources, Salary: 60000
Name: Alice Smith, ID: 102, Department: Marketing, Salary: 55000
Name: Bob Johnson, ID: 103, Department: Engineering, Salary: 75000