1. Using input() function take one number from the user and using ternary operators check whether the number is even or odd

In [32]:
num = int(input("enter the number:"))
if num % 2 == 0:
    prin('even')
else:
    print('odd')

enter the number: 5

odd

2. Using input function take two number and then swap the number

In [38]:
num1 = int(input("enter the number: "))
num2 = int(input("enter the number: "))      
print(f"before swapping: num1 = {num1}, num2 = {num2}")
num1 , num2 = num2 , num1
print(f"After swapping: num1 = {num1}, num2 = {num2}")

enter the number:  12
enter the number:  11

before swapping: num1 = 12, num2 = 11
After swapping: num1 = 11, num2 = 12

3. Write a Program to Convert Kilometers to Miles

In [42]:
km = float(input(" Enter the distance in kilometers : "))
conversion_factor = 0.62137119
miles = km * conversion_factor
print(f"{km} kilometers is equal to {miles} miles.")

 Enter the distance in kilometers :  23.76

23.76 kilometers is equal to 14.7637794744 miles.

4. Find the Simple Interest on Rs. 200 for 5 years at 5% per year.

In [44]:
principal = 200
rate = 5
time = 5
si = (principal * rate * time)/100
print(f"the simple interest on Rs {principal} for {time} years at {rate} % per years is Rs{si:.2f}.")

the simple interest on Rs 200 for 5 years at 5 % per years is Rs50.00.